body {
   text-align:center;}

h3 {
   font-family:verdana;
   font-size:14pt;
   font-weight:800;
   color: #333333;}

input { 
   background: #ffffff;
   border:1px solid #999999;}

a, a:link , a:visited, a:active {
   text-decoration:none;
   font-size:10pt;
   color: #333366;}

.go {
   border:1px solid #999999;}

#wrapper {
   margin: 100px auto;
   text-align:center;}

#content {
   padding: 0px; 
   margin: 0px;
   background: #eeeeee;
   text-align:left;
   border: 1px solid #cccccc;
   font-family: verdana;
   font-size:12pt;}

#holder {
   margin:15px;}

#top {
   text-align:right;}

#link {
   float:right;
   margin:5px;
   font-family:verdana;
   font-size:8pt;}

